{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Hello {{adminuser.fullname}} (admin)</h1>
    <h3>User list</h3>
    {% for user in users %}
        {{loop.index}}: <form style="display: inline;" id="myForm{{user.id}}" method="get" action="{{url_for('vacation.user_page', user_id=user.id)}}" target="_self">
            <a href='#' onclick="document.getElementById('myForm{{user.id}}').submit();">  {{user.username}}</a>
        </form>
       <br><br>
    {% endfor %}
    {% if users|length < 1 %}
        <i>No users</i>
    {%endif %}
    <form method="get" action="/vacation/logout" target="_self">
        <input type="submit" value="Logout">
    </form>
{% endblock %}